
*, *::before, *::after {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

span.jqselect-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.jqselect-input {
    width: 100%;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color:#474748;
}

a.jqselect-dropbutton {
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    right: 0;
    margin: 1px;
    border-left: 1px solid #dddddd;
    width: 2em;
    white-space: nowrap;
    background-color: #f6f6f6;
    color: #777777;
}

a.jqselect-dropbutton:before {
    content: "\23f7";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    font-size: 16px;
    line-height: 1;
}

input {
    background-position: 5px 5px;
    border: solid 1px #dddddd;
    outline: 0;
    line-height: 28px;
    height: 28px;
    padding: 0px 7px 0px 7px;
    -moz-box-shadow: 1px 1px 2px #f5f5f5;
    -webkit-box-shadow: 1px 1px 2px #f5f5f5;
    box-shadow: 1px 1px 2px #f5f5f5;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.options {
    position: relative;
}

.options-box {
    -webkit-animation: options-box-fade-in .3s ease 1, options-box-move-up .3s ease-out 1;
    animation: options-box-fade-in .3s ease 1, options-box-move-up .3s ease-out 1;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 95;
    display: none;
    float: left;
    min-width: 70px;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 14px;
    color: #6c7293;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border: none;
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
}

.options-box-left {
    right: auto;
    left: 0;
}

.options-box-right {
    right: 0;
    left: auto;
}

.options-item {
    display: block;
    width: 100%;
    padding: 8px 32px 8px 16px;
    clear: both;
    font-weight: 500;
    font-size: 14px;
    color: #474748;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor:pointer;
}

.options-item:hover, .options-item:focus {
    text-decoration: none;
    background-color: #d4d4d4;
}
.options-item.current {
    color: #fd7e14;
    text-decoration: none;
    background-color: #d4d4d4;
}

.options-item.disabled, .options-item:disabled {
    color: #adb1c7;
    pointer-events: none;
    background-color: transparent;
}

.options-item > .la-icon {
    display: inline-block;
    margin: auto 0;
    margin-right: 8px;
    min-width: 20px;
    font-size: 20px;
}

.options-box > .options-item {
    outline: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.options-highlight {
    padding: 0;
    margin:0;
    width: auto !important;
    font-weight: 800;
    color: #fd7e14;
}
